@font-face{
  font-family: 'Young';
  src: url('/wp-content/uploads/2018/10/YoungBeautiful.woff');
}
html {
  height: 100%;
}
body {
  transition: all .3s ease-in-out;
  height: 100%;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 4rem;
}
h2 {
  font-family: 'Young', sans-serif;
  font-size: 3.5rem;
}
* {
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.btn-secondary {
  font-size: 18px;
  font-weight: 900;
  margin: 0 auto;
  border: none;
  border-radius: 0;
  &:hover {
    background: $red !important;
  }
-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}
.understrap-read-more-link {
  margin-top: 26px;
}
.logged-in-as a {
  color: white;
  &:hover {
    color: black;
  }
}
.navbar {
  background: white !important;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 10000;
  .container {
    margin: 0;
  }
  .container {
    max-width: 100%;
  }
}
.navbar-brand {
  margin-left: auto;
  img {
    width: 165px;
    position: relative;
    background: white;
    top: 22px;
    padding: 10px;
    border-radius: 10px;
  }
}
.nav-link {
  padding: 20px 19px !important;
  color: $primary !important;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  &:hover{
    color: white !important;
    background: $primary;
  }
}
.current-menu-item .nav-link {
  color: white !important;
  background: $primary;
}
#menu {
  display: none;
}
#menu-icon {
  width: 60px;
  padding-right: 20px;
  cursor: pointer;
  &:hover path {
    fill: $primary;
  }
  path {
    fill: $primary;
		transition: fill .15s ease-out;
  }
  &:hover #circle {
    stroke: $primary;
  }
  #circle {
    stroke: $primary;
    opacity: 0;
    fill: none;
    stroke-width: 3px;
  }
}
#main-menu {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
}
.nav-cta {
  font-size: 27px;
  font-weight: 900;
  margin: 0 auto;
  a {
    background: $primary;
    padding: 15px 20px;
    color: white !important;
    &:hover {
      background: $red;
    }
  }
  
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.divider {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 65%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 65%);
}
#wrapper-footer {
  padding-bottom: 0;
  
}
.footer-testimonials{
  h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 50px;
  }
}
.footer-contact {
  margin-top: 20px;
  padding: 80px 0;
  background: url('/wp-content/uploads/2018/10/Metal_Roof_Classic_Rib-01.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px 7px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 7px 32px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 7px 32px 0px rgba(0,0,0,0.75);
  h6 {
    color: white;
    font-size: 28px;
  }
  i {
    color: white;
  }
  p {
    font-size: 25px;
    color: white;
  }
  .contact {
    a {
      font-size: 25px;
      color: white;
      &:hover {
        color: $red;
      }
    }
  }
  .social {
    margin-top: 50px;
    i {
      background: white;
      color:  $primary;
      padding: 10px 13px;
      border-radius: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
      &:hover {
        background: $primary;
        color: white;
      }
    }
  }
  .address {
    margin-top: 50px;
    text-align: center;
  }
  .col-sm-4 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.copyright {
  text-align: center;
  background: $primary;
  color: white;
  padding: 20px;
}
@media only screen and (max-width: 1024px) and (min-width: 767px) {
  .divider {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 95%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 95%);
  }
}
@media only screen and (max-width: 767px) {
  #menu {
    display: block;
    position: relative;
    z-index: 2;
  }
  .sidenav {
    position: fixed;
    background: white;
    height: 2000px;
    top: -20px;
    padding-top: 170px;
    right: -100%;
    width: 76%;
    border-top: 0 !important;
    border: 1px solid rgba(0,0,0,.15);
    #main-menu {
      display: flex;
      text-align: center;
      float: right;
      width: 100%;
    }
    .nav-link {
      font-size: 28px;
    }
  }
  .navbar {
    width: 100%;
    top: 20px;
  }
  .navbar-brand img {
    width: 146px;
  }
  .nav-cta {
    display: none;
  }
  #wrapper-footer-full {
    text-align: center;
  }
  .divider {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 95%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 95%);
  }
}

